.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd

DeepJSCC/data/
DeepJSCC/models/
DeepJSCC/results/
DeepJSCC/kodak_dataset/
DeepJSCC/kodak_dataset_src/

step1/*.mat
step1/*.png
step1/outputs/
step1/__pycache__/
semantic_reconstruction_result.png
data/
Figure_*.png
tracy.png
step2/data/
step2/model1/
step2/model2/
step2/model3/
step2/__pycache__/
